/* You can add global styles to this file, and also import other style files */
.container{
    padding:50px;
}      

.battleship-tile {
    color: darkblue;
}

.win{
    background-color: lightgreen;
    color:white;
}

.fail{
    background-color: red;
    color:whitesmoke;
}